@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (max-width: 1023px) {
  .nav_links {
    background-color: #170439;
    overflow: hidden;
    height: 0;
    visibility: hidden;
    box-shadow: 0 0 50px 80px #0e0c16;
    transition: height 0.3s ease-in-out, visibility 0.1s ease-in-out 0.2s;
  }

  .nav_links.show {
    height: 13rem;
    visibility: visible;
    box-shadow: 0 0 50px 80px #0e0c16;
    transition: height 0.3s ease-in-out, visibility 0.05s ease-in-out;
  }
}
