@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (max-width: 1023px) {
  .nav_links {
    background-color: black;
    overflow: hidden;
    height: 0;
    visibility: hidden;
    box-shadow: 0 0 50px 80px black;
    transition: height 0.3s ease-in-out, visibility 0.1s ease-in-out 0.2s;
  }

  .nav_links.show {
    height: 13rem;
    visibility: visible;
    box-shadow: 0 0 50px 80px black;
    transition: height 0.3s ease-in-out, visibility 0.05s ease-in-out;
  }
}

#hero_intro {
  opacity: 0;
  transform: translateX(-2rem);
  animation: fadeRight 2s 750ms ease forwards;
}

#hero_intro + h5 {
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeUp 2s 1.5s ease forwards;
}

@keyframes fadeUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.double_arrow {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 20px;
}

.double_arrow.open::before,
.double_arrow.open::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  transform: translateX(-50%);
}

.double_arrow.close::before,
.double_arrow.close::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  transform: translateX(-50%);
}

.double_arrow::before {
  top: 5px;
}

.double_arrow::after {
  top: 15px;
}

.detail_collapsed {
  height: 0;
  visibility: hidden;
  transition: height 0.3s ease-in-out, visibility 0.1s ease-in-out 0.2s;
}

.detail_show {
  height: 500px;
  visibility: visible;
  transition: height 0.3s ease-in-out, visibility 0.05s ease-in-out;
}

@media (max-width: 1535px) {
  .detail_show {
    height: 560px;
  }
}

@media (max-width: 1279px) {
  .detail_show {
    height: 640px;
  }
}

@media (max-width: 1023px) {
  .detail_show {
    height: 670px;
  }
}

@media (max-width: 767px) {
  .detail_show {
    height: 730px;
  }
}

@media (max-width: 639px) {
  .detail_show {
    height: 920px;
  }
}
