@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 20%;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@media (max-width: 1023px) {
  .nav_links {
    overflow: hidden;
    height: 0;
    visibility: hidden;
    box-shadow: 0 0 50px 80px transparent;
    transition: height 0.3s ease-in-out, visibility 0.1s ease-in-out 0.2s;
  }

  .nav_links.show {
    height: 13rem;
    visibility: visible;
    box-shadow: 0 0 50px 80px transparent;
    transition: height 0.3s ease-in-out, visibility 0.05s ease-in-out;
  }
}

.canvas_bg {
  background-image: radial-gradient(
    circle,
    rgba(7, 8, 47, 1) 0%,
    rgba(2, 0, 36, 1) 45%,
    rgba(28, 7, 84, 1) 95%
  );
}

#hero_intro {
  opacity: 0;
  transform: translateX(-2rem);
  animation: fadeRight 2s 2s ease forwards;
}

#hero_intro + h5 {
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeUp 2s 2.5s ease forwards;
}

@keyframes fadeUp {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeRight {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.double_arrow {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 20px;
}

.double_arrow.open::before,
.double_arrow.open::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  transform: translateX(-50%);
}

.double_arrow.close::before,
.double_arrow.close::after {
  content: '';
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  transform: translateX(-50%);
}

.double_arrow::before {
  top: 5px;
}

.double_arrow::after {
  top: 15px;
}

.detail_collapsed {
  transform: translateY(-30%);
  visibility: hidden;
  opacity: 0;
  transition: transform 0.3s ease-in-out, visibility 0.1s ease-in-out 0.2s,
    opacity 0.1s ease-out;
}

.detail_show {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
  transition: transform 0.3s ease-in-out, visibility 0.05s ease-in-out,
    opacity 0.2s ease-in 0.1s;
}

@media (max-width: 1279px) {
  .detail_collapsed {
    transform: translateY(-40%);
  }
}

@media (max-width: 1023px) {
  .detail_collapsed {
    transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  .detail_collapsed {
    transform: translateY(-60%);
  }
}

@media (max-width: 639px) {
  .detail_collapsed {
    transform: translateY(-70%);
  }
}

.tilt_card {
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(5000px);
}

.tilt_card::after,
.tilt_card::before {
  content: '';
  position: absolute;
  border-radius: inherit;
}

.tilt_card::after {
  inset: -0.8rem;
  background: linear-gradient(45deg, rgb(159 18 57), rgb(38, 96, 164));
  transform: translateZ(-50px);
}

.tilt_card::before {
  inset: 0rem;
  background: black;
  transform: translateZ(-49px);
  filter: blur(15px);
  opacity: 0.5;
}

.tooltip {
  display: none;
  position: absolute;
}

.skill_icon:hover + .tooltip {
  display: block;
  position: absolute;
  bottom: 0;
  left: -20%;
  right: -20%;
  height: 50px;
  transform: translateY(120%);
  font-size: 20px;
  text-align: center;
}
